<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoodleClassifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DoodleClassifier.Properties.Settings>
            <setting name="Device" serializeAs="String">
                <value>NvidiaGpu</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>S:\#DATASETS\GQuickDraw\</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>full_numpy_bitmap_{0}.npy</value>
            </setting>
            <setting name="Categories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>airplane</string>
                        <string>angel</string>
                        <string>apple</string>
                        <string>banana</string>
                        <string>cat</string>
                        <string>dog</string>
                        <string>dragon</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SleepEveryGen" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SleepTime" serializeAs="String">
                <value>150000</value>
            </setting>
        </DoodleClassifier.Properties.Settings>
    </userSettings>
</configuration>